@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.card {
  max-width: 317px;
  background-color: #1a1b21;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* INFO SECTION */

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.info--photo {
  /* width: 300px;
  height: 300px; */
}

.info--name {
  color: #fff;
  font-size: 25px;
}

.info--title {
  color: #f3bf99;
  font-weight: 400;
  font-size: 14px;
}

.info--website {
  color: #f5f5f5;
  font-size: 12px;
}
.info--btn {
  border: none;
  outline: none;
  margin: 1em;
  padding: 10px 90px;
  display: flex;
  border-radius: 10px;
  background-color: #fff;
  font-family: inherit;
}

.email--logo {
  margin-right: 1em;
}

/* ABOUT SECTION */

.about {
  width: 80%;
  margin: auto;
}

.about--title {
  color: #f5f5f5;
  font-size: 16px;
  margin: 10px 0 5px 0;
}

.about--content {
  color: #dcdcdc;
  font-size: 13px;
}

/* INTERESTS SECTION */

.interests {
  width: 80%;
  margin: auto;
}

.interests--title {
  color: #f5f5f5;
  font-size: 16px;
  margin: 10px 0 5px 0;
}

.interests--content {
  color: #dcdcdc;
  font-size: 13px;
  margin-bottom: 1em;
}

/* FOOTER SECTION */

.footer {
  height: 64px;
  background-color: #161619;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
